<div class="services-container">
  <ul class="price-list no_bullet">
    <li class="service-item">
      <span class="service-name">Pickup Fee</span>
      <span class="service-price">$5</span>
      <p class="service-description">This is the rate for me driving to pick up your PC. The gas isn't gonna pay for itself!</p>
    </li>
    <li class="service-item">
      <span class="service-name">Initial Fee</span>
      <span class="service-price">$30</span>
      <p class="service-description">For this rate, I will carefully dissect your PC and diagnose the issue. If I'm unable to diagnose, you will receive half-back on the initial rate. Some other services do not require this fee.</p>
    </li>
    <li class="service-item">
      <span class="service-name">Deep Clean</span>
      <span class="service-price">$20</span>
      <p class="service-description">For this rate, I will thoroughly clean your PC. Additional charges may apply if your PC is impressively dirty to the point where I have to wear a hazmat suit.</p>
    </li>
    <li class="service-item">
      <span class="service-name">Data Recovery</span>
      <span class="service-price">$10 - No Initial Fee</span>
      <p class="service-description">For this rate, I will recover data from one drive and put it on another. From there, you can choose to either borrow the drive to transfer to another device at no additional cost, or pay for the new drive itself to keep.</p>
    </li>
    <li class="service-item">
      <span class="service-name">Fixing Service</span>
      <span class="service-price">Varies</span>
      <p class="service-description">Prices will vary depending on the type of fix needed. Parts replacement may be necessary, in which case additional charges may apply equal to the price of the necessary new part(s).</p>
    </li>
    <li class="service-item">
      <span class="service-name">Part Replacement</span>
      <span class="service-price">Varies Per Part</span>
      <p class="service-description">Prices will vary depending on which part is replaced. If it's the RAM or Graphics Card, I'll do that for free, but if it's the fan, CPU, or motherboard, it will vary between $10-$20.</p>
    </li>
    <li class="service-item">
      <span class="service-name">PC Building</span>
      <span class="service-price">$30</span>
      <p class="service-description">Provided I have all of the parts, this is the rate in which I will build your PC. I will inform you of any additional parts that may be needed.</p>
    </li>
    <li class="service-item">
      <span class="service-name">PC Build Recommendation</span>
      <span class="service-price">Free - No Initial Fee</span>
      <p class="service-description">Trying to build a PC on a budget? I can help! We'll just have a little chat about what you're looking for and I'll send you a part list to best suit your needs.</p>
    </li>
  </ul>
</div>