@import "application";

header {
    margin: -8px -8px -8px -8px;
    font-family: "Quicksand", sans-serif;
    color: $color-text;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: center;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.2s;

    &:hover {
        background-color: $primary-color-hover;
        transition: 0.2s;
    }
}

li a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: $color-text;
}

.nav_container {
    background-color: $primary-color;
}

.pull_right {
    position: absolute;
    right: 1%;
  }

  button {
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button.primary {
    background-color: $primary-color;
    color: #fff;
  }
  
  button.primary:hover {
    background-color: $primary-color-hover;
  }